body {
  overflow-y: hidden;
  margin: 0;
}

:root,
body {
  height: 100%;
}

html,
input,
button {
  font-size: 24px;
  font-family: Fira Sans;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-container-inner {
  padding: 15px;
}

#response-text-container {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
}

#response-text {
  max-width: 1000px;
  overflow-y: scroll;
  background-color: #EEEEEE;
  margin-bottom: 20px;
  padding: 15px 30px;
}

#command-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.command-input-container {
  margin-right: 5px;
  margin-bottom: 5px;
}

.send-command-button {
  margin-bottom: 5px;
}

#response-text .response-line {
  padding: 15px 0;
  border-bottom: 1px dashed #888888;
  overflow-wrap: break-word;
}

#response-text .response-line:last-child {
  border-bottom: none;
}

#response-text .command-display {
  margin-bottom: 20px;
}

#response-text .empty-line {
  height: 29px;
}

#main-map {
  display: block;
  margin-left: 20px;
}

.map-table {
  border-collapse: collapse;
  position: relative;
}

.map-table.game-win-map {
  margin-top: 20px;
}

.map-table-cell {
  border: 2px dashed #4e4e4e;
  padding: 4px;
  background-color: white;
}

.map-table-cell-inner {
  width: 50px;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-marker {
  font-weight: bold;
  text-align: center;
  color: #508aff;
  font-size: 32px;
}

.required-snake-visits {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}

.map-table .snake-position {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #be78ff;
}

.map-table-cell.bottom-border-snake {
  border-bottom: 5px solid #be78ff;
  padding-bottom: 2.5px;
}

.map-table-cell.top-border-snake {
  border-top: 5px solid #be78ff;
  padding-top: 2.5px;
}

.map-table-cell.left-border-snake {
  border-left: 5px solid #be78ff;
  padding-left: 2.5px;
}

.map-table-cell.right-border-snake {
  border-right: 5px solid #be78ff;
  padding-right: 2.5px;
}

.map-table-cell.shrink-top-padding {
  padding-top: 2.5px;
}

.map-table-cell.shrink-left-padding {
  padding-left: 2.5px;
}

@media all and (max-width: 800px) {
  html {
    font-size: 18px;
  }

  #response-text-container {
    flex-direction: column;
    align-items: center;
  }

  #response-text {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px 20px;
  }

  #response-text .response-line {
    padding: 10px 0;
  }

  #main-map {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .main-container-inner {
    padding: 0;
  }

  .command-input-container {
    margin-bottom: 10px;
  }
  
  .send-command-button {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 600px) {
  .send-command-button {
    display: none;
  }
}

.bold-text {
  font-weight: bold;
}

.purple-text {
  color: #7c00e2;
}

.orange-text {
  color: #e26d00;
}

.indigo-text {
  color: #001dbe;
}

.blue-text {
  color: #007ce2;
}

.brown-text {
  color: #8a5e00;
}

.pink-text {
  color: #da00e2;
}

.red-text {
  color: #e20000;
}

.green-text {
  color: #00920c;
}
