body {
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

html,
input,
button {
  font-size: 24px;
  font-family: Fira Sans;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-container-inner {
  max-width: 1000px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
}

#response-text {
  width: calc(100% - 60px);
  height: calc(100% - 160px);
  overflow: scroll;
  background-color: #EEEEEE;
  margin-bottom: 30px;
  padding: 15px 30px;
}

#command-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.command-input-container {
  margin-right: 5px;
  margin-bottom: 5px;
}

.send-command-button {
  margin-bottom: 5px;
}

#response-text .response-line {
  padding: 15px 0;
  border-bottom: 1px dashed #888888;
  overflow-wrap: break-word;
}

#response-text .response-line:last-child {
  border-bottom: none;
}

#response-text .command-display {
  margin-bottom: 20px;
}

#response-text .empty-line {
  height: 29px;
}

.map-table {
  border-collapse: collapse;
  position: relative;
}

.map-table.margin-above-map {
  margin-top: 20px;
}

.map-table-cell {
  border: 2px dashed #4e4e4e;
  padding: 4px;
}

.map-table-cell-inner {
  width: 50px;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-marker {
  font-weight: bold;
  text-align: center;
  color: #508aff;
  font-size: 32px;
}

.required-snake-visits {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
}

.map-table .snake-position {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #be78ff;
}

.map-table-cell.bottom-border-snake {
  border-bottom: 5px solid #be78ff;
  padding-bottom: 2.5px;
}

.map-table-cell.top-border-snake {
  border-top: 5px solid #be78ff;
  padding-top: 2.5px;
}

.map-table-cell.left-border-snake {
  border-left: 5px solid #be78ff;
  padding-left: 2.5px;
}

.map-table-cell.right-border-snake {
  border-right: 5px solid #be78ff;
  padding-right: 2.5px;
}

.map-table-cell.shrink-top-padding {
  padding-top: 2.5px;
}

.map-table-cell.shrink-left-padding {
  padding-left: 2.5px;
}
